*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules

gemfiles/
Gemfile
Gemfile.lock
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/
docs/*
!docs/.gitkeep