/** Custom color styles **/
$link-color: #007599;
$sidebar-color: #cfebf0;
$body-background-color: #f1f3f4;
$body-text-color: #131516;

/** Custom font styles **/
$body-font-family: 'Lato', sans-serif;
$mono-font-family: 'IBM Plex Mono', monospace;